<suite name="CrossBrowserSuite" parallel="tests" thread-count="4">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.practicetestautomation.tests.login.LoginTests"/>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.practicetestautomation.tests.login.LoginTests"/>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="com.practicetestautomation.tests.login.LoginTests"/>
        </classes>
    </test>
    <test name="SafariTest">
        <parameter name="browser" value="safari" />
        <classes>
            <class name="com.practicetestautomation.tests.login.LoginTests"/>
        </classes>
    </test>
</suite>
